/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.grid_body {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 200px 1fr 200px;
    grid-template-areas:
            "header header"
            "side content"
            "footer footer";
}
.grid_header,
.grid_asid,
.grid_main,
.grid_footer {
    text-align: center;
    border: 2px dashed gray;
    padding: 30px;
}

.grid_header {
    grid-area: header;
    background-color: gray;
}
.grid_asid {
    grid-area: side;
    background-color: yellow;
}
.grid_main {
    grid-area: content;
    background-color: aquamarine;
    /* text-align: center; */
}
.grid_footer {
    grid-area: footer;
    background-color: gray;
}
.flex_main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex_colum {
  /*  flex-shrink: 1; */
}